#navbar-component > div {
  max-width: 1536px;
}

@media (min-width: 768px) {
  #navbar-component > div > div > ul{
    display: flex;
    align-items: center;
  }
}

button > li {
  width: 100%;
  justify-content: flex-start;
}

button > li > a {
  width: 100%;
  display: flex;
}
